@model Wagenpark.Models.DEALER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DEALER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig", "Edit", new { id = Model.DealerNr }) |
    @Html.ActionLink("Terug", "Index")
</p>
