@model Wagenpark.Models.WERKPLAATS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WERKPLAATS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
<a>@Html.ActionLink("Wijzig", "Edit", new { id = Model.WerkplaatsNr }) | </a>
    }
    @Html.ActionLink("Terug", "Index")
</p>
